<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zoe.diary">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.DiaryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/diary_app_icon_1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_config"
        android:theme="@style/DiaryTheme">
        <activity android:name=".DiaryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.DiaryEditActivity"/>
        <activity android:name=".ui.activity.DiaryMonthActivity"/>
        <activity android:name=".ui.activity.DiaryImgSortActivity"/>
    </application>

</manifest>